<div>
  <div class="well flex">
    <ng-container *ngIf="weather$ | async as weather; else loading">
      <div>
        <h3>{{ weather.name }} ({{ zipcode }})</h3>
        <h4>Current conditions: {{ weather.weather | titlecase }}</h4>
        <h4>Temperatures today:</h4>
        <p>
          Current {{ weather.temp }} - Max {{ weather.tempMax }} - Min
          {{ weather.tempMin }}
        </p>
        <p>
          <a [routerLink]="'/forecast/' + zipcode"
            >Show 5-day forecast for {{ weather.name }}</a
          >
        </p>
      </div>
      <div>
        <span class="close" (click)="onClose()">×</span>
        <app-display [code]="weather.code"></app-display>
      </div>
    </ng-container>
    <ng-template #loading>Loading ...</ng-template>
  </div>
</div>
